body {
    background-color: burlywood;
}

h1 {
    color: blue;
}

img {
    width: 30%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.important {
    color: red;
}

.header {
    padding: 5px;
    border: 1px solid red;
}

.picbar {
    padding: 5px;
    border: 1px solid blue;
}

.content {
    padding: 5px;
    border: 1px solid green;
}